#container1{ 
        border: solid black 5px;
        width: 98vw;
        height: 98vh;
        display: grid;
        gap: 15px;
        margin: 15px;
}
#header1{
        background-color: blueviolet;
        display: grid;
        grid-row-start: 1 ;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
}
#nav1{
        background-color: darksalmon;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 3;
}
#main1{
        background-color: lavender;
        border: solid 2px coral;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
}
#footer1{
        background-color: cadetblue;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
}
#container2{
        border: solid black 5px;
        width: 98vw;
        height: 98vh;
        display: grid;
        gap: 15px;
        margin: 15px;
}
#header2{
        background-color: burlywood;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
}
#nav2{
        background-color: chartreuse;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 5;
}
#main2{
        background-color: crimson;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
}
#footer2{
        background-color: darkkhaki;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
}
#five{
        background-color: darkseagreen;
        display: grid;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
}
#container3{ 
        border: solid black 5px;
        width: 98vw;
        height: 98vh;
        display: grid;
        gap: 15px;
        margin: 15px;
}
#header3{
        background-color: blueviolet;
        display: grid;
        grid-row-start: 1 ;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
}
#nav3{
        background-color: darksalmon;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
}
#main3{
        background-color: lavender;
        border: solid 2px coral;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
}
#footer3{
        background-color: cadetblue;
        display: grid;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
}